.Header {
	height: 100%;
	&__button {
		width: 100%;
		justify-content: flex-start;
		&:hover {
			background-color: var(--hover-color); } }
	&__link {
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: none; } } }